<a href="https://colab.research.google.com/github/TBKHori/A.I_ARU/blob/main/Pandas_A_Z.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Pandas Series is a one-dimensional labeled array capable of holding data of␣↪→any type
# (integer, string, float, python objects, etc.)
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [ ]:
dates = pd.date_range('20130101', periods=20)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08',
               '2013-01-09', '2013-01-10', '2013-01-11', '2013-01-12',
               '2013-01-13', '2013-01-14', '2013-01-15', '2013-01-16',
               '2013-01-17', '2013-01-18', '2013-01-19', '2013-01-20'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df = pd.DataFrame(np.random.randn(20, 5), index=dates, columns=list('ABCDE'))
df

                   A         B         C         D         E
2013-01-01  1.021447 -1.462458  2.413318 -0.445916  0.682368
2013-01-02 -1.110328  0.060968  0.332604 -0.278449 -0.119854
2013-01-03  0.762392 -0.296198  0.991366 -0.220523 -0.685874
2013-01-04  2.225998 -0.141947 -0.139864 -0.596050 -2.398650
2013-01-05 -1.840363 -1.518258 -1.285097  1.276593  0.317002
2013-01-06  0.754737 -0.125640  0.315748  0.818382  1.155786
2013-01-07  2.309031 -1.090605 -0.300400  0.460030 -0.740758
2013-01-08 -0.243791  0.418363  0.438454  0.872428 -0.223924
2013-01-09 -0.734404 -1.159166  0.851756  1.001638 -1.312872
2013-01-10  1.039999 -1.617073  0.782991  0.027837  0.973280
2013-01-11  0.579578 -1.088376  0.584248 -0.895803 -0.166664
2013-01-12  1.206551  0.481247 -0.812986  1.049821 -1.014664
2013-01-13 -0.713290  0.502147 -0.795468 -1.474455  2.657494
2013-01-14 -0.682972  1.077762  0.040755  0.046479 -1.170734
2013-01-15  1.897864  0.961220 -1.145420 -1.099198  0.437786
2013-01-16 -0.761009 -0.823982 -1.440050  0.189192 -0.737385
2013-01-17  0.710672  0.514407 -1.425897 -0.516203 -0.932385
2013-01-18 -0.353930  0.625907 -0.799636 -0.195967 -0.629056
2013-01-19 -1.318602  1.323358 -1.043640 -0.623174 -1.176431
2013-01-20  0.363628  0.647267  0.402546  0.136556  1.315660

In [ ]:
# create a dataframe by passing a dictionary
df2 = pd.DataFrame({'A': 1.,
'B': pd.Timestamp('20130102'),'C': pd.Series(1,index=list(range(4)), dtype='float32'),
'D': np.array([3] * 4, dtype='int32'),
'E': pd.Categorical(["test", "train", "test", "train"]),
'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
df2['E'].value_counts()

test     2
train    2
Name: E, dtype: int64

In [ ]:
# If you’re using IPython, tab completion for column names (as well as public␣↪→attributes) is automatically enabled.
df2.

SyntaxError: invalid syntax (Temp/ipykernel_24708/2266589719.py, line 2)

In [ ]:
df.head()

                   A         B         C         D         E
2013-01-01  1.021447 -1.462458  2.413318 -0.445916  0.682368
2013-01-02 -1.110328  0.060968  0.332604 -0.278449 -0.119854
2013-01-03  0.762392 -0.296198  0.991366 -0.220523 -0.685874
2013-01-04  2.225998 -0.141947 -0.139864 -0.596050 -2.398650
2013-01-05 -1.840363 -1.518258 -1.285097  1.276593  0.317002

In [ ]:
df.tail(3)

                   A         B         C         D         E
2013-01-18 -0.353930  0.625907 -0.799636 -0.195967 -0.629056
2013-01-19 -1.318602  1.323358 -1.043640 -0.623174 -1.176431
2013-01-20  0.363628  0.647267  0.402546  0.136556  1.315660

In [ ]:
#Display the index, columns:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08',
               '2013-01-09', '2013-01-10', '2013-01-11', '2013-01-12',
               '2013-01-13', '2013-01-14', '2013-01-15', '2013-01-16',
               '2013-01-17', '2013-01-18', '2013-01-19', '2013-01-20'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df.columns
df.shape[1]

5

In [ ]:
# vonvert your dataframe to numpy array
# NumPy arrays have one dtype for the entire array, while pandas DataFrames␣↪→have one dtype per column
df.to_numpy()

array([[ 1.02144731, -1.46245802,  2.41331835, -0.44591553,  0.68236784],
       [-1.11032763,  0.06096755,  0.33260423, -0.27844897, -0.11985431],
       [ 0.76239243, -0.29619798,  0.99136554, -0.22052291, -0.68587402],
       [ 2.22599827, -0.14194739, -0.13986355, -0.59605049, -2.39864965],
       [-1.84036256, -1.51825811, -1.28509743,  1.27659261,  0.31700193],
       [ 0.75473692, -0.12563977,  0.31574848,  0.81838195,  1.15578591],
       [ 2.30903051, -1.09060473, -0.30040012,  0.46003041, -0.74075798],
       [-0.24379114,  0.41836349,  0.43845368,  0.87242786, -0.22392385],
       [-0.73440399, -1.15916621,  0.85175625,  1.00163803, -1.3128722 ],
       [ 1.03999894, -1.61707264,  0.78299132,  0.02783668,  0.97328012],
       [ 0.57957813, -1.08837616,  0.58424793, -0.89580295, -0.16666422],
       [ 1.20655133,  0.48124702, -0.81298574,  1.04982057, -1.01466362],
       [-0.71329049,  0.50214677, -0.79546824, -1.47445458,  2.65749387],
       [-0.68297153,  1.07776164,  0.04075505,  0.04647949, -1.17073386],
       [ 1.89786408,  0.96121969, -1.14542038, -1.09919777,  0.43778595],
       [-0.76100919, -0.82398181, -1.44005027,  0.1891924 , -0.73738471],
       [ 0.71067223,  0.51440712, -1.4258966 , -0.51620282, -0.93238478],
       [-0.35393017,  0.62590749, -0.79963557, -0.19596676, -0.62905571],
       [-1.31860206,  1.32335786, -1.04364019, -0.62317407, -1.17643075],
       [ 0.36362829,  0.64726681,  0.40254556,  0.13655603,  1.31566015]])

In [ ]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [ ]:
# shows a quick statistic summary of your data:
df.describe()

               A          B          C          D          E
count  20.000000  20.000000  20.000000  20.000000  20.000000
mean    0.255660  -0.135553  -0.101734  -0.023339  -0.188494
std     1.190378   0.939938   1.001278   0.760273   1.154056
min    -1.840363  -1.617073  -1.440050  -1.474455  -2.398650
25%    -0.718569  -1.088933  -0.870649  -0.536165  -0.952954
50%     0.471603  -0.032336  -0.049554  -0.084065  -0.426490
75%     1.026085   0.542282   0.474902   0.549618   0.498931
max     2.309031   1.323358   2.413318   1.276593   2.657494

In [ ]:
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [ ]:
# Transposing your data:
df.T

,2013-01-01,2013-01-02,2013-01-03,2013-01-04,2013-01-05,2013-01-06,2013-01-07,2013-01-08,2013-01-09,2013-01-10,2013-01-11,2013-01-12,2013-01-13,2013-01-14,2013-01-15,2013-01-16,2013-01-17,2013-01-18,2013-01-19,2013-01-20
A,1.021447,-1.110328,0.762392,2.225998,-1.840363,0.754737,2.309031,-0.243791,-0.734404,1.039999,0.579578,1.206551,-0.713290,-0.682972,1.897864,-0.761009,0.710672,-0.353930,-1.318602,0.363628
B,-1.462458,0.060968,-0.296198,-0.141947,-1.518258,-0.125640,-1.090605,0.418363,-1.159166,-1.617073,-1.088376,0.481247,0.502147,1.077762,0.961220,-0.823982,0.514407,0.625907,1.323358,0.647267
C,2.413318,0.332604,0.991366,-0.139864,-1.285097,0.315748,-0.300400,0.438454,0.851756,0.782991,0.584248,-0.812986,-0.795468,0.040755,-1.145420,-1.440050,-1.425897,-0.799636,-1.043640,0.402546
D,-0.445916,-0.278449,-0.220523,-0.596050,1.276593,0.818382,0.460030,0.872428,1.001638,0.027837,-0.895803,1.049821,-1.474455,0.046479,-1.099198,0.189192,-0.516203,-0.195967,-0.623174,0.136556
E,0.682368,-0.119854,-0.685874,-2.398650,0.317002,1.155786,-0.740758,-0.223924,-1.312872,0.973280,-0.166664,-1.014664,2.657494,-1.170734,0.437786,-0.737385,-0.932385,-0.629056,-1.176431,1.315660

In [ ]:
df.sort_index(axis=1, ascending=False)

                   E         D         C         B         A
2013-01-01  0.682368 -0.445916  2.413318 -1.462458  1.021447
2013-01-02 -0.119854 -0.278449  0.332604  0.060968 -1.110328
2013-01-03 -0.685874 -0.220523  0.991366 -0.296198  0.762392
2013-01-04 -2.398650 -0.596050 -0.139864 -0.141947  2.225998
2013-01-05  0.317002  1.276593 -1.285097 -1.518258 -1.840363
2013-01-06  1.155786  0.818382  0.315748 -0.125640  0.754737
2013-01-07 -0.740758  0.460030 -0.300400 -1.090605  2.309031
2013-01-08 -0.223924  0.872428  0.438454  0.418363 -0.243791
2013-01-09 -1.312872  1.001638  0.851756 -1.159166 -0.734404
2013-01-10  0.973280  0.027837  0.782991 -1.617073  1.039999
2013-01-11 -0.166664 -0.895803  0.584248 -1.088376  0.579578
2013-01-12 -1.014664  1.049821 -0.812986  0.481247  1.206551
2013-01-13  2.657494 -1.474455 -0.795468  0.502147 -0.713290
2013-01-14 -1.170734  0.046479  0.040755  1.077762 -0.682972
2013-01-15  0.437786 -1.099198 -1.145420  0.961220  1.897864
2013-01-16 -0.737385  0.189192 -1.440050 -0.823982 -0.761009
2013-01-17 -0.932385 -0.516203 -1.425897  0.514407  0.710672
2013-01-18 -0.629056 -0.195967 -0.799636  0.625907 -0.353930
2013-01-19 -1.176431 -0.623174 -1.043640  1.323358 -1.318602
2013-01-20  1.315660  0.136556  0.402546  0.647267  0.363628

In [ ]:
df.sort_index(axis=1, ascending=True)

                   A         B         C         D         E
2013-01-01  1.021447 -1.462458  2.413318 -0.445916  0.682368
2013-01-02 -1.110328  0.060968  0.332604 -0.278449 -0.119854
2013-01-03  0.762392 -0.296198  0.991366 -0.220523 -0.685874
2013-01-04  2.225998 -0.141947 -0.139864 -0.596050 -2.398650
2013-01-05 -1.840363 -1.518258 -1.285097  1.276593  0.317002
2013-01-06  0.754737 -0.125640  0.315748  0.818382  1.155786
2013-01-07  2.309031 -1.090605 -0.300400  0.460030 -0.740758
2013-01-08 -0.243791  0.418363  0.438454  0.872428 -0.223924
2013-01-09 -0.734404 -1.159166  0.851756  1.001638 -1.312872
2013-01-10  1.039999 -1.617073  0.782991  0.027837  0.973280
2013-01-11  0.579578 -1.088376  0.584248 -0.895803 -0.166664
2013-01-12  1.206551  0.481247 -0.812986  1.049821 -1.014664
2013-01-13 -0.713290  0.502147 -0.795468 -1.474455  2.657494
2013-01-14 -0.682972  1.077762  0.040755  0.046479 -1.170734
2013-01-15  1.897864  0.961220 -1.145420 -1.099198  0.437786
2013-01-16 -0.761009 -0.823982 -1.440050  0.189192 -0.737385
2013-01-17  0.710672  0.514407 -1.425897 -0.516203 -0.932385
2013-01-18 -0.353930  0.625907 -0.799636 -0.195967 -0.629056
2013-01-19 -1.318602  1.323358 -1.043640 -0.623174 -1.176431
2013-01-20  0.363628  0.647267  0.402546  0.136556  1.315660

In [ ]:
# Selecting a single column
df['A']

2013-01-01    1.021447
2013-01-02   -1.110328
2013-01-03    0.762392
2013-01-04    2.225998
2013-01-05   -1.840363
2013-01-06    0.754737
2013-01-07    2.309031
2013-01-08   -0.243791
2013-01-09   -0.734404
2013-01-10    1.039999
2013-01-11    0.579578
2013-01-12    1.206551
2013-01-13   -0.713290
2013-01-14   -0.682972
2013-01-15    1.897864
2013-01-16   -0.761009
2013-01-17    0.710672
2013-01-18   -0.353930
2013-01-19   -1.318602
2013-01-20    0.363628
Freq: D, Name: A, dtype: float64

In [ ]:
# Selecting via []
df[0:3]

                   A         B         C         D         E
2013-01-01  1.021447 -1.462458  2.413318 -0.445916  0.682368
2013-01-02 -1.110328  0.060968  0.332604 -0.278449 -0.119854
2013-01-03  0.762392 -0.296198  0.991366 -0.220523 -0.685874

In [ ]:
df['20130102':'20130104']

                   A         B         C         D         E
2013-01-02 -1.110328  0.060968  0.332604 -0.278449 -0.119854
2013-01-03  0.762392 -0.296198  0.991366 -0.220523 -0.685874
2013-01-04  2.225998 -0.141947 -0.139864 -0.596050 -2.398650

In [ ]:
# Selection by label
df.loc[dates[0]]

A    1.021447
B   -1.462458
C    2.413318
D   -0.445916
E    0.682368
Name: 2013-01-01 00:00:00, dtype: float64

In [ ]:
# Selecting on a multi-axis by label
df.loc[:, ['A', 'B']]

                   A         B
2013-01-01  1.021447 -1.462458
2013-01-02 -1.110328  0.060968
2013-01-03  0.762392 -0.296198
2013-01-04  2.225998 -0.141947
2013-01-05 -1.840363 -1.518258
2013-01-06  0.754737 -0.125640
2013-01-07  2.309031 -1.090605
2013-01-08 -0.243791  0.418363
2013-01-09 -0.734404 -1.159166
2013-01-10  1.039999 -1.617073
2013-01-11  0.579578 -1.088376
2013-01-12  1.206551  0.481247
2013-01-13 -0.713290  0.502147
2013-01-14 -0.682972  1.077762
2013-01-15  1.897864  0.961220
2013-01-16 -0.761009 -0.823982
2013-01-17  0.710672  0.514407
2013-01-18 -0.353930  0.625907
2013-01-19 -1.318602  1.323358
2013-01-20  0.363628  0.647267

In [ ]:
# Showing label slicing, both endpoints are included:
df.loc['20130102':'20130104', ['A', 'B']]

                   A         B
2013-01-02 -1.110328  0.060968
2013-01-03  0.762392 -0.296198
2013-01-04  2.225998 -0.141947

In [ ]:
df.loc[dates[0], 'A']

1.0214473110320308

In [ ]:
# Boolean indexing
df[df.A > 0]

                   A         B         C         D         E
2013-01-01  1.021447 -1.462458  2.413318 -0.445916  0.682368
2013-01-03  0.762392 -0.296198  0.991366 -0.220523 -0.685874
2013-01-04  2.225998 -0.141947 -0.139864 -0.596050 -2.398650
2013-01-06  0.754737 -0.125640  0.315748  0.818382  1.155786
2013-01-07  2.309031 -1.090605 -0.300400  0.460030 -0.740758
2013-01-10  1.039999 -1.617073  0.782991  0.027837  0.973280
2013-01-11  0.579578 -1.088376  0.584248 -0.895803 -0.166664
2013-01-12  1.206551  0.481247 -0.812986  1.049821 -1.014664
2013-01-15  1.897864  0.961220 -1.145420 -1.099198  0.437786
2013-01-17  0.710672  0.514407 -1.425897 -0.516203 -0.932385
2013-01-20  0.363628  0.647267  0.402546  0.136556  1.315660

In [ ]:
df[df > 0]

                   A         B         C         D         E
2013-01-01  1.021447       NaN  2.413318       NaN  0.682368
2013-01-02       NaN  0.060968  0.332604       NaN       NaN
2013-01-03  0.762392       NaN  0.991366       NaN       NaN
2013-01-04  2.225998       NaN       NaN       NaN       NaN
2013-01-05       NaN       NaN       NaN  1.276593  0.317002
2013-01-06  0.754737       NaN  0.315748  0.818382  1.155786
2013-01-07  2.309031       NaN       NaN  0.460030       NaN
2013-01-08       NaN  0.418363  0.438454  0.872428       NaN
2013-01-09       NaN       NaN  0.851756  1.001638       NaN
2013-01-10  1.039999       NaN  0.782991  0.027837  0.973280
2013-01-11  0.579578       NaN  0.584248       NaN       NaN
2013-01-12  1.206551  0.481247       NaN  1.049821       NaN
2013-01-13       NaN  0.502147       NaN       NaN  2.657494
2013-01-14       NaN  1.077762  0.040755  0.046479       NaN
2013-01-15  1.897864  0.961220       NaN       NaN  0.437786
2013-01-16       NaN       NaN       NaN  0.189192       NaN
2013-01-17  0.710672  0.514407       NaN       NaN       NaN
2013-01-18       NaN  0.625907       NaN       NaN       NaN
2013-01-19       NaN  1.323358       NaN       NaN       NaN
2013-01-20  0.363628  0.647267  0.402546  0.136556  1.315660

In [ ]:
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three','one', 'one', 'two','three','four','three','one', 'one', 'two', 'three', 'four', 'three','four', 'three']
df2

                   A         B         C         D      E
2013-01-01  1.021447 -1.462458  2.413318 -0.445916    one
2013-01-02 -1.110328  0.060968  0.332604 -0.278449    one
2013-01-03  0.762392 -0.296198  0.991366 -0.220523    two
2013-01-04  2.225998 -0.141947 -0.139864 -0.596050  three
2013-01-05 -1.840363 -1.518258 -1.285097  1.276593   four
2013-01-06  0.754737 -0.125640  0.315748  0.818382  three
2013-01-07  2.309031 -1.090605 -0.300400  0.460030    one
2013-01-08 -0.243791  0.418363  0.438454  0.872428    one
2013-01-09 -0.734404 -1.159166  0.851756  1.001638    two
2013-01-10  1.039999 -1.617073  0.782991  0.027837  three
2013-01-11  0.579578 -1.088376  0.584248 -0.895803   four
2013-01-12  1.206551  0.481247 -0.812986  1.049821  three
2013-01-13 -0.713290  0.502147 -0.795468 -1.474455    one
2013-01-14 -0.682972  1.077762  0.040755  0.046479    one
2013-01-15  1.897864  0.961220 -1.145420 -1.099198    two
2013-01-16 -0.761009 -0.823982 -1.440050  0.189192  three
2013-01-17  0.710672  0.514407 -1.425897 -0.516203   four
2013-01-18 -0.353930  0.625907 -0.799636 -0.195967  three
2013-01-19 -1.318602  1.323358 -1.043640 -0.623174   four
2013-01-20  0.363628  0.647267  0.402546  0.136556  three

In [ ]:
# search based on value
df2[df2['E'].isin(['two', 'four'])]

                   A         B         C         D     E
2013-01-03  0.762392 -0.296198  0.991366 -0.220523   two
2013-01-05 -1.840363 -1.518258 -1.285097  1.276593  four
2013-01-09 -0.734404 -1.159166  0.851756  1.001638   two
2013-01-11  0.579578 -1.088376  0.584248 -0.895803  four
2013-01-15  1.897864  0.961220 -1.145420 -1.099198   two
2013-01-17  0.710672  0.514407 -1.425897 -0.516203  four
2013-01-19 -1.318602  1.323358 -1.043640 -0.623174  four

In [ ]:
df.at[dates[0], 'A'] = 0
df

                   A         B         C         D         E
2013-01-01  0.000000 -1.462458  2.413318 -0.445916  0.682368
2013-01-02 -1.110328  0.060968  0.332604 -0.278449 -0.119854
2013-01-03  0.762392 -0.296198  0.991366 -0.220523 -0.685874
2013-01-04  2.225998 -0.141947 -0.139864 -0.596050 -2.398650
2013-01-05 -1.840363 -1.518258 -1.285097  1.276593  0.317002
2013-01-06  0.754737 -0.125640  0.315748  0.818382  1.155786
2013-01-07  2.309031 -1.090605 -0.300400  0.460030 -0.740758
2013-01-08 -0.243791  0.418363  0.438454  0.872428 -0.223924
2013-01-09 -0.734404 -1.159166  0.851756  1.001638 -1.312872
2013-01-10  1.039999 -1.617073  0.782991  0.027837  0.973280
2013-01-11  0.579578 -1.088376  0.584248 -0.895803 -0.166664
2013-01-12  1.206551  0.481247 -0.812986  1.049821 -1.014664
2013-01-13 -0.713290  0.502147 -0.795468 -1.474455  2.657494
2013-01-14 -0.682972  1.077762  0.040755  0.046479 -1.170734
2013-01-15  1.897864  0.961220 -1.145420 -1.099198  0.437786
2013-01-16 -0.761009 -0.823982 -1.440050  0.189192 -0.737385
2013-01-17  0.710672  0.514407 -1.425897 -0.516203 -0.932385
2013-01-18 -0.353930  0.625907 -0.799636 -0.195967 -0.629056
2013-01-19 -1.318602  1.323358 -1.043640 -0.623174 -1.176431
2013-01-20  0.363628  0.647267  0.402546  0.136556  1.315660

In [ ]:
df.iat[0, 2] = 0
df

                   A         B         C         D         E
2013-01-01  0.000000 -1.462458  0.000000 -0.445916  0.682368
2013-01-02 -1.110328  0.060968  0.332604 -0.278449 -0.119854
2013-01-03  0.762392 -0.296198  0.991366 -0.220523 -0.685874
2013-01-04  2.225998 -0.141947 -0.139864 -0.596050 -2.398650
2013-01-05 -1.840363 -1.518258 -1.285097  1.276593  0.317002
2013-01-06  0.754737 -0.125640  0.315748  0.818382  1.155786
2013-01-07  2.309031 -1.090605 -0.300400  0.460030 -0.740758
2013-01-08 -0.243791  0.418363  0.438454  0.872428 -0.223924
2013-01-09 -0.734404 -1.159166  0.851756  1.001638 -1.312872
2013-01-10  1.039999 -1.617073  0.782991  0.027837  0.973280
2013-01-11  0.579578 -1.088376  0.584248 -0.895803 -0.166664
2013-01-12  1.206551  0.481247 -0.812986  1.049821 -1.014664
2013-01-13 -0.713290  0.502147 -0.795468 -1.474455  2.657494
2013-01-14 -0.682972  1.077762  0.040755  0.046479 -1.170734
2013-01-15  1.897864  0.961220 -1.145420 -1.099198  0.437786
2013-01-16 -0.761009 -0.823982 -1.440050  0.189192 -0.737385
2013-01-17  0.710672  0.514407 -1.425897 -0.516203 -0.932385
2013-01-18 -0.353930  0.625907 -0.799636 -0.195967 -0.629056
2013-01-19 -1.318602  1.323358 -1.043640 -0.623174 -1.176431
2013-01-20  0.363628  0.647267  0.402546  0.136556  1.315660

In [ ]:
df2 = df.copy()
df2

                   A         B         C         D         E
2013-01-01  0.000000 -1.462458  0.000000 -0.445916  0.682368
2013-01-02 -1.110328  0.060968  0.332604 -0.278449 -0.119854
2013-01-03  0.762392 -0.296198  0.991366 -0.220523 -0.685874
2013-01-04  2.225998 -0.141947 -0.139864 -0.596050 -2.398650
2013-01-05 -1.840363 -1.518258 -1.285097  1.276593  0.317002
2013-01-06  0.754737 -0.125640  0.315748  0.818382  1.155786
2013-01-07  2.309031 -1.090605 -0.300400  0.460030 -0.740758
2013-01-08 -0.243791  0.418363  0.438454  0.872428 -0.223924
2013-01-09 -0.734404 -1.159166  0.851756  1.001638 -1.312872
2013-01-10  1.039999 -1.617073  0.782991  0.027837  0.973280
2013-01-11  0.579578 -1.088376  0.584248 -0.895803 -0.166664
2013-01-12  1.206551  0.481247 -0.812986  1.049821 -1.014664
2013-01-13 -0.713290  0.502147 -0.795468 -1.474455  2.657494
2013-01-14 -0.682972  1.077762  0.040755  0.046479 -1.170734
2013-01-15  1.897864  0.961220 -1.145420 -1.099198  0.437786
2013-01-16 -0.761009 -0.823982 -1.440050  0.189192 -0.737385
2013-01-17  0.710672  0.514407 -1.425897 -0.516203 -0.932385
2013-01-18 -0.353930  0.625907 -0.799636 -0.195967 -0.629056
2013-01-19 -1.318602  1.323358 -1.043640 -0.623174 -1.176431
2013-01-20  0.363628  0.647267  0.402546  0.136556  1.315660

In [ ]:
df2[df2 > 0] = [10]
df2

                    A          B          C          D          E
2013-01-01   0.000000  -1.462458   0.000000  -0.445916  10.000000
2013-01-02  -1.110328  10.000000  10.000000  -0.278449  -0.119854
2013-01-03  10.000000  -0.296198  10.000000  -0.220523  -0.685874
2013-01-04  10.000000  -0.141947  -0.139864  -0.596050  -2.398650
2013-01-05  -1.840363  -1.518258  -1.285097  10.000000  10.000000
2013-01-06  10.000000  -0.125640  10.000000  10.000000  10.000000
2013-01-07  10.000000  -1.090605  -0.300400  10.000000  -0.740758
2013-01-08  -0.243791  10.000000  10.000000  10.000000  -0.223924
2013-01-09  -0.734404  -1.159166  10.000000  10.000000  -1.312872
2013-01-10  10.000000  -1.617073  10.000000  10.000000  10.000000
2013-01-11  10.000000  -1.088376  10.000000  -0.895803  -0.166664
2013-01-12  10.000000  10.000000  -0.812986  10.000000  -1.014664
2013-01-13  -0.713290  10.000000  -0.795468  -1.474455  10.000000
2013-01-14  -0.682972  10.000000  10.000000  10.000000  -1.170734
2013-01-15  10.000000  10.000000  -1.145420  -1.099198  10.000000
2013-01-16  -0.761009  -0.823982  -1.440050  10.000000  -0.737385
2013-01-17  10.000000  10.000000  -1.425897  -0.516203  -0.932385
2013-01-18  -0.353930  10.000000  -0.799636  -0.195967  -0.629056
2013-01-19  -1.318602  10.000000  -1.043640  -0.623174  -1.176431
2013-01-20  10.000000  10.000000  10.000000  10.000000  10.000000

In [ ]:
df.mean()

A    0.204588
B   -0.135553
C   -0.222400
D   -0.023339
E   -0.188494
dtype: float64

In [ ]:
df.mean(1)

2013-01-01   -0.245201
2013-01-02   -0.223012
2013-01-03    0.110233
2013-01-04   -0.210103
2013-01-05   -0.610025
2013-01-06    0.583803
2013-01-07    0.127460
2013-01-08    0.252306
2013-01-09   -0.270610
2013-01-10    0.241407
2013-01-11   -0.197403
2013-01-12    0.181994
2013-01-13    0.035285
2013-01-14   -0.137742
2013-01-15    0.210450
2013-01-16   -0.714647
2013-01-17   -0.329881
2013-01-18   -0.270536
2013-01-19   -0.567698
2013-01-20    0.573131
Freq: D, dtype: float64

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates[0:6])
s

2013-01-01    1.0
2013-01-02    3.0
2013-01-03    5.0
2013-01-04    NaN
2013-01-05    6.0
2013-01-06    8.0
Freq: D, dtype: float64

In [ ]:
df.sub(s, axis='index')

                   A         B         C         D         E
2013-01-01 -1.000000 -2.462458 -1.000000 -1.445916 -0.317632
2013-01-02 -4.110328 -2.939032 -2.667396 -3.278449 -3.119854
2013-01-03 -4.237608 -5.296198 -4.008634 -5.220523 -5.685874
2013-01-04       NaN       NaN       NaN       NaN       NaN
2013-01-05 -7.840363 -7.518258 -7.285097 -4.723407 -5.682998
2013-01-06 -7.245263 -8.125640 -7.684252 -7.181618 -6.844214
2013-01-07       NaN       NaN       NaN       NaN       NaN
2013-01-08       NaN       NaN       NaN       NaN       NaN
2013-01-09       NaN       NaN       NaN       NaN       NaN
2013-01-10       NaN       NaN       NaN       NaN       NaN
2013-01-11       NaN       NaN       NaN       NaN       NaN
2013-01-12       NaN       NaN       NaN       NaN       NaN
2013-01-13       NaN       NaN       NaN       NaN       NaN
2013-01-14       NaN       NaN       NaN       NaN       NaN
2013-01-15       NaN       NaN       NaN       NaN       NaN
2013-01-16       NaN       NaN       NaN       NaN       NaN
2013-01-17       NaN       NaN       NaN       NaN       NaN
2013-01-18       NaN       NaN       NaN       NaN       NaN
2013-01-19       NaN       NaN       NaN       NaN       NaN
2013-01-20       NaN       NaN       NaN       NaN       NaN

In [ ]:
s = pd.Series([2, np.nan, 5, -1, 0])
s

0    2.0
1    NaN
2    5.0
3   -1.0
4    0.0
dtype: float64

In [ ]:
s.cumsum()

0    2.0
1    NaN
2    7.0
3    6.0
4    6.0
dtype: float64

In [ ]:
# Histogramming
s = pd.Series(np.random.randint(0, 7, size=10))
s

0    2
1    0
2    1
3    6
4    0
5    0
6    1
7    3
8    2
9    6
dtype: int32

In [ ]:
# Histogramming
s.value_counts()

0    3
2    2
1    2
6    2
3    1
dtype: int64

In [ ]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s

0       A
1       B
2       C
3    Aaba
4    Baca
5     NaN
6    CABA
7     dog
8     cat
dtype: object

In [ ]:
# convert to lower case
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [ ]:
# Concat
df = pd.DataFrame(np.random.randn(10, 4))
df_1 =df[0:3]
df_2=df[3:7]
df_3=df[7:10]

In [ ]:
df

          0         1         2         3
0  1.653237  1.537539  0.929298  2.208131
1  0.317192  1.760171  0.149956  0.788243
2 -0.970433 -0.263852 -1.211635  0.244714
3 -1.094712  1.419430 -0.791358  1.200745
4 -0.217830 -0.135096 -1.543635  0.373535
5 -2.778483  1.056715 -0.404094  0.286766
6 -0.415364 -1.332764  0.460392  0.756147
7  0.469756  0.189415  1.261117  0.893569
8  3.148700 -0.478221 -0.417932  0.044584
9  0.774766 -0.953942 -1.584656  0.537454

In [ ]:
df_1

          0         1         2         3
0  1.653237  1.537539  0.929298  2.208131
1  0.317192  1.760171  0.149956  0.788243
2 -0.970433 -0.263852 -1.211635  0.244714

In [ ]:
df_2

          0         1         2         3
3 -1.094712  1.419430 -0.791358  1.200745
4 -0.217830 -0.135096 -1.543635  0.373535
5 -2.778483  1.056715 -0.404094  0.286766
6 -0.415364 -1.332764  0.460392  0.756147

In [ ]:
df_3

          0         1         2         3
7  0.469756  0.189415  1.261117  0.893569
8  3.148700 -0.478221 -0.417932  0.044584
9  0.774766 -0.953942 -1.584656  0.537454