<a href="https://colab.research.google.com/github/TBKHori/A.I_ARU/blob/main/Pandas_A_Z.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Pandas Series is a one-dimensional labeled array capable of holding data of␣↪→any type
# (integer, string, float, python objects, etc.)
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [ ]:
dates = pd.date_range('20130101', periods=20)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08',
               '2013-01-09', '2013-01-10', '2013-01-11', '2013-01-12',
               '2013-01-13', '2013-01-14', '2013-01-15', '2013-01-16',
               '2013-01-17', '2013-01-18', '2013-01-19', '2013-01-20'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df = pd.DataFrame(np.random.randn(20, 5), index=dates, columns=list('ABCDE'))
df

                   A         B         C         D         E
2013-01-01  0.163591 -1.238393  0.516052  0.728873  0.276542
2013-01-02 -1.212847 -1.038857  0.959292  0.121458  0.367191
2013-01-03 -1.437233 -0.299691 -0.611186 -0.608977 -0.751236
2013-01-04 -0.653487 -1.312677 -1.762835 -0.278388 -0.851971
2013-01-05 -1.023525 -0.231349  0.512931 -0.994016  0.998637
2013-01-06  0.766491 -1.024734 -0.942510  0.476387  0.612276
2013-01-07 -0.848788  0.317507  1.176094 -0.671556  0.688051
2013-01-08  0.667289  0.495396  0.625734  2.518598  0.075986
2013-01-09 -0.198204  1.156566 -0.418623 -0.504952 -0.730627
2013-01-10  0.406629  0.232209 -1.070243 -2.040544 -1.295295
2013-01-11 -0.521137  0.748148 -0.917555 -0.219956  0.339614
2013-01-12 -0.148841  0.121439 -0.501578  1.241052  0.487907
2013-01-13  1.186559  1.466913 -1.748652  0.308904 -2.736154
2013-01-14  0.884138 -0.247175  1.167733  0.880781  0.983232
2013-01-15  0.110296  1.491371 -0.720123 -0.335013  0.423272
2013-01-16 -0.825883 -0.846065  1.372285 -0.903185  1.475243
2013-01-17 -1.032841  1.287793 -0.403319 -1.054863  1.120177
2013-01-18 -0.103617  0.057464  0.510514  1.325420 -0.244378
2013-01-19  0.069568 -0.988735  1.386977 -0.070288  0.952163
2013-01-20 -2.269529 -2.819230  1.012104 -0.329154 -1.224371

In [ ]:
# create a dataframe by passing a dictionary
df2 = pd.DataFrame({'A': 1.,
'B': pd.Timestamp('20130102'),'C': pd.Series(1,index=list(range(4)), dtype='float32'),
'D': np.array([3] * 4, dtype='int32'),
'E': pd.Categorical(["test", "train", "test", "train"]),
'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
df2['E'].value_counts()

test     2
train    2
Name: E, dtype: int64

In [ ]:
# If you’re using IPython, tab completion for column names (as well as public␣↪→attributes) is automatically enabled.
df2.

SyntaxError: invalid syntax (Temp/ipykernel_17464/2266589719.py, line 2)

In [ ]:
df.head()

                   A         B         C         D         E
2013-01-01  0.163591 -1.238393  0.516052  0.728873  0.276542
2013-01-02 -1.212847 -1.038857  0.959292  0.121458  0.367191
2013-01-03 -1.437233 -0.299691 -0.611186 -0.608977 -0.751236
2013-01-04 -0.653487 -1.312677 -1.762835 -0.278388 -0.851971
2013-01-05 -1.023525 -0.231349  0.512931 -0.994016  0.998637

In [ ]:
df.tail(3)

                   A         B         C         D         E
2013-01-18 -0.103617  0.057464  0.510514  1.325420 -0.244378
2013-01-19  0.069568 -0.988735  1.386977 -0.070288  0.952163
2013-01-20 -2.269529 -2.819230  1.012104 -0.329154 -1.224371

In [ ]:
#Display the index, columns:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08',
               '2013-01-09', '2013-01-10', '2013-01-11', '2013-01-12',
               '2013-01-13', '2013-01-14', '2013-01-15', '2013-01-16',
               '2013-01-17', '2013-01-18', '2013-01-19', '2013-01-20'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df.columns
df.shape[1]

5