<a href="https://colab.research.google.com/github/TBKHori/A.I_ARU/blob/main/Pandas_A_Z.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Pandas Series is a one-dimensional labeled array capable of holding data of␣↪→any type
# (integer, string, float, python objects, etc.)
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [ ]:
dates = pd.date_range('20130101', periods=20)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08',
               '2013-01-09', '2013-01-10', '2013-01-11', '2013-01-12',
               '2013-01-13', '2013-01-14', '2013-01-15', '2013-01-16',
               '2013-01-17', '2013-01-18', '2013-01-19', '2013-01-20'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df = pd.DataFrame(np.random.randn(20, 5), index=dates, columns=list('ABCDE'))
df

                   A         B         C         D         E
2013-01-01  1.143368 -0.149450 -0.694086 -0.582298 -1.042172
2013-01-02 -1.774819  0.608021  0.783685 -0.682857 -0.345994
2013-01-03  0.197218 -1.707205 -0.845430 -0.129203 -0.662142
2013-01-04 -0.435973 -0.290851  0.797946  0.545913  0.285288
2013-01-05 -1.910862 -0.502720  0.391442 -0.879570  1.491326
2013-01-06  1.105178  1.185733  1.957193  0.856173 -0.378030
2013-01-07 -0.040247 -1.953890 -0.418309  1.711619 -1.676624
2013-01-08 -0.460840 -1.280431  1.307021  0.516793  0.167628
2013-01-09  0.215700 -0.070776  0.163469  0.683077  1.936312
2013-01-10 -0.959922 -0.523845  1.721569 -1.451245 -2.473327
2013-01-11  0.159033  0.386273 -0.802908  1.974016 -1.041123
2013-01-12 -0.602426  0.401777 -0.864507 -0.092112  0.654747
2013-01-13  0.400207 -1.333080  0.426852  2.007772 -0.152506
2013-01-14  0.168998 -0.255566 -1.163769  0.791126 -0.452507
2013-01-15 -1.133998  0.280282 -0.211960  1.014833 -0.472194
2013-01-16 -0.433646  1.343808  0.027460  0.857122  1.554646
2013-01-17  0.851774  1.990608 -1.421063  0.382311  0.794882
2013-01-18  0.710036 -0.314493  0.693583  1.380000 -0.316321
2013-01-19 -0.408446  0.647622  0.661598 -0.425416 -2.373906
2013-01-20 -0.340104  1.689557  0.599761  0.278225 -0.964426

In [ ]:
# create a dataframe by passing a dictionary
df2 = pd.DataFrame({'A': 1.,
'B': pd.Timestamp('20130102'),'C': pd.Series(1,index=list(range(4)), dtype='float32'),
'D': np.array([3] * 4, dtype='int32'),
'E': pd.Categorical(["test", "train", "test", "train"]),
'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
df2['E'].value_counts()

test     2
train    2
Name: E, dtype: int64

In [ ]:
# If you’re using IPython, tab completion for column names (as well as public␣↪→attributes) is automatically enabled.
df2.

SyntaxError: invalid syntax (Temp/ipykernel_6592/2266589719.py, line 2)

In [ ]:
df.head()

                   A         B         C         D         E
2013-01-01  1.143368 -0.149450 -0.694086 -0.582298 -1.042172
2013-01-02 -1.774819  0.608021  0.783685 -0.682857 -0.345994
2013-01-03  0.197218 -1.707205 -0.845430 -0.129203 -0.662142
2013-01-04 -0.435973 -0.290851  0.797946  0.545913  0.285288
2013-01-05 -1.910862 -0.502720  0.391442 -0.879570  1.491326

In [ ]:
df.tail(3)

                   A         B         C         D         E
2013-01-18  0.710036 -0.314493  0.693583  1.380000 -0.316321
2013-01-19 -0.408446  0.647622  0.661598 -0.425416 -2.373906
2013-01-20 -0.340104  1.689557  0.599761  0.278225 -0.964426

In [ ]:
#Display the index, columns:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08',
               '2013-01-09', '2013-01-10', '2013-01-11', '2013-01-12',
               '2013-01-13', '2013-01-14', '2013-01-15', '2013-01-16',
               '2013-01-17', '2013-01-18', '2013-01-19', '2013-01-20'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df.columns
df.shape[1]

5

In [ ]:
# vonvert your dataframe to numpy array
# NumPy arrays have one dtype for the entire array, while pandas DataFrames␣↪→have one dtype per column
df.to_numpy()

array([[ 1.14336806, -0.14945031, -0.69408638, -0.5822983 , -1.04217176],
       [-1.7748193 ,  0.60802129,  0.78368514, -0.68285723, -0.34599415],
       [ 0.19721788, -1.70720523, -0.84542969, -0.1292026 , -0.66214231],
       [-0.43597269, -0.29085058,  0.79794557,  0.54591329,  0.28528785],
       [-1.91086158, -0.50271967,  0.3914424 , -0.87957021,  1.49132614],
       [ 1.10517825,  1.1857328 ,  1.95719295,  0.85617332, -0.37803043],
       [-0.04024663, -1.95389031, -0.41830948,  1.71161916, -1.67662351],
       [-0.4608398 , -1.28043118,  1.30702087,  0.51679271,  0.16762837],
       [ 0.21569994, -0.07077596,  0.16346947,  0.68307749,  1.93631232],
       [-0.95992177, -0.52384481,  1.72156866, -1.45124525, -2.47332679],
       [ 0.15903322,  0.38627296, -0.80290804,  1.9740158 , -1.04112294],
       [-0.60242564,  0.40177711, -0.86450735, -0.09211213,  0.65474656],
       [ 0.4002068 , -1.33307953,  0.42685162,  2.00777201, -0.15250596],
       [ 0.16899784, -0.25556552, -1.16376906,  0.79112574, -0.45250743],
       [-1.1339976 ,  0.2802818 , -0.21195986,  1.01483292, -0.47219443],
       [-0.43364559,  1.34380757,  0.02745993,  0.85712172,  1.55464623],
       [ 0.85177448,  1.99060785, -1.42106313,  0.38231073,  0.79488197],
       [ 0.71003614, -0.31449313,  0.69358262,  1.38000036, -0.31632149],
       [-0.40844556,  0.64762209,  0.66159833, -0.42541576, -2.37390604],
       [-0.34010361,  1.68955656,  0.59976072,  0.27822549, -0.96442555]])

In [ ]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [ ]:
# shows a quick statistic summary of your data:
df.describe()

               A          B          C          D          E
count  20.000000  20.000000  20.000000  20.000000  20.000000
mean   -0.177488   0.007569   0.155477   0.437814  -0.273322
std     0.848345   1.079917   0.948510   0.951406   1.191689
min    -1.910862  -1.953890  -1.421063  -1.451245  -2.473327
25%    -0.496236  -0.508001  -0.721292  -0.203256  -0.983600
50%    -0.190175  -0.110113   0.277456   0.531353  -0.362012
75%     0.261827   0.617921   0.716108   0.896550   0.377653
max     1.143368   1.990608   1.957193   2.007772   1.936312

In [ ]:
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [ ]:
# Transposing your data:
df.T

,2013-01-01,2013-01-02,2013-01-03,2013-01-04,2013-01-05,2013-01-06,2013-01-07,2013-01-08,2013-01-09,2013-01-10,2013-01-11,2013-01-12,2013-01-13,2013-01-14,2013-01-15,2013-01-16,2013-01-17,2013-01-18,2013-01-19,2013-01-20
A,1.143368,-1.774819,0.197218,-0.435973,-1.910862,1.105178,-0.040247,-0.460840,0.215700,-0.959922,0.159033,-0.602426,0.400207,0.168998,-1.133998,-0.433646,0.851774,0.710036,-0.408446,-0.340104
B,-0.149450,0.608021,-1.707205,-0.290851,-0.502720,1.185733,-1.953890,-1.280431,-0.070776,-0.523845,0.386273,0.401777,-1.333080,-0.255566,0.280282,1.343808,1.990608,-0.314493,0.647622,1.689557
C,-0.694086,0.783685,-0.845430,0.797946,0.391442,1.957193,-0.418309,1.307021,0.163469,1.721569,-0.802908,-0.864507,0.426852,-1.163769,-0.211960,0.027460,-1.421063,0.693583,0.661598,0.599761
D,-0.582298,-0.682857,-0.129203,0.545913,-0.879570,0.856173,1.711619,0.516793,0.683077,-1.451245,1.974016,-0.092112,2.007772,0.791126,1.014833,0.857122,0.382311,1.380000,-0.425416,0.278225
E,-1.042172,-0.345994,-0.662142,0.285288,1.491326,-0.378030,-1.676624,0.167628,1.936312,-2.473327,-1.041123,0.654747,-0.152506,-0.452507,-0.472194,1.554646,0.794882,-0.316321,-2.373906,-0.964426

In [ ]:
df.sort_index(axis=1, ascending=False)

                   E         D         C         B         A
2013-01-01 -1.042172 -0.582298 -0.694086 -0.149450  1.143368
2013-01-02 -0.345994 -0.682857  0.783685  0.608021 -1.774819
2013-01-03 -0.662142 -0.129203 -0.845430 -1.707205  0.197218
2013-01-04  0.285288  0.545913  0.797946 -0.290851 -0.435973
2013-01-05  1.491326 -0.879570  0.391442 -0.502720 -1.910862
2013-01-06 -0.378030  0.856173  1.957193  1.185733  1.105178
2013-01-07 -1.676624  1.711619 -0.418309 -1.953890 -0.040247
2013-01-08  0.167628  0.516793  1.307021 -1.280431 -0.460840
2013-01-09  1.936312  0.683077  0.163469 -0.070776  0.215700
2013-01-10 -2.473327 -1.451245  1.721569 -0.523845 -0.959922
2013-01-11 -1.041123  1.974016 -0.802908  0.386273  0.159033
2013-01-12  0.654747 -0.092112 -0.864507  0.401777 -0.602426
2013-01-13 -0.152506  2.007772  0.426852 -1.333080  0.400207
2013-01-14 -0.452507  0.791126 -1.163769 -0.255566  0.168998
2013-01-15 -0.472194  1.014833 -0.211960  0.280282 -1.133998
2013-01-16  1.554646  0.857122  0.027460  1.343808 -0.433646
2013-01-17  0.794882  0.382311 -1.421063  1.990608  0.851774
2013-01-18 -0.316321  1.380000  0.693583 -0.314493  0.710036
2013-01-19 -2.373906 -0.425416  0.661598  0.647622 -0.408446
2013-01-20 -0.964426  0.278225  0.599761  1.689557 -0.340104

In [ ]:
df.sort_index(axis=1, ascending=True)

                   A         B         C         D         E
2013-01-01  1.143368 -0.149450 -0.694086 -0.582298 -1.042172
2013-01-02 -1.774819  0.608021  0.783685 -0.682857 -0.345994
2013-01-03  0.197218 -1.707205 -0.845430 -0.129203 -0.662142
2013-01-04 -0.435973 -0.290851  0.797946  0.545913  0.285288
2013-01-05 -1.910862 -0.502720  0.391442 -0.879570  1.491326
2013-01-06  1.105178  1.185733  1.957193  0.856173 -0.378030
2013-01-07 -0.040247 -1.953890 -0.418309  1.711619 -1.676624
2013-01-08 -0.460840 -1.280431  1.307021  0.516793  0.167628
2013-01-09  0.215700 -0.070776  0.163469  0.683077  1.936312
2013-01-10 -0.959922 -0.523845  1.721569 -1.451245 -2.473327
2013-01-11  0.159033  0.386273 -0.802908  1.974016 -1.041123
2013-01-12 -0.602426  0.401777 -0.864507 -0.092112  0.654747
2013-01-13  0.400207 -1.333080  0.426852  2.007772 -0.152506
2013-01-14  0.168998 -0.255566 -1.163769  0.791126 -0.452507
2013-01-15 -1.133998  0.280282 -0.211960  1.014833 -0.472194
2013-01-16 -0.433646  1.343808  0.027460  0.857122  1.554646
2013-01-17  0.851774  1.990608 -1.421063  0.382311  0.794882
2013-01-18  0.710036 -0.314493  0.693583  1.380000 -0.316321
2013-01-19 -0.408446  0.647622  0.661598 -0.425416 -2.373906
2013-01-20 -0.340104  1.689557  0.599761  0.278225 -0.964426

In [ ]:
# Selecting a single column
df['A']

2013-01-01    1.143368
2013-01-02   -1.774819
2013-01-03    0.197218
2013-01-04   -0.435973
2013-01-05   -1.910862
2013-01-06    1.105178
2013-01-07   -0.040247
2013-01-08   -0.460840
2013-01-09    0.215700
2013-01-10   -0.959922
2013-01-11    0.159033
2013-01-12   -0.602426
2013-01-13    0.400207
2013-01-14    0.168998
2013-01-15   -1.133998
2013-01-16   -0.433646
2013-01-17    0.851774
2013-01-18    0.710036
2013-01-19   -0.408446
2013-01-20   -0.340104
Freq: D, Name: A, dtype: float64

In [ ]:
# Selecting via []
df[0:3]

                   A         B         C         D         E
2013-01-01  1.143368 -0.149450 -0.694086 -0.582298 -1.042172
2013-01-02 -1.774819  0.608021  0.783685 -0.682857 -0.345994
2013-01-03  0.197218 -1.707205 -0.845430 -0.129203 -0.662142

In [ ]:
df['20130102':'20130104']

                   A         B         C         D         E
2013-01-02 -1.774819  0.608021  0.783685 -0.682857 -0.345994
2013-01-03  0.197218 -1.707205 -0.845430 -0.129203 -0.662142
2013-01-04 -0.435973 -0.290851  0.797946  0.545913  0.285288

In [ ]:
# Selection by label
df.loc[dates[0]]

A    1.143368
B   -0.149450
C   -0.694086
D   -0.582298
E   -1.042172
Name: 2013-01-01 00:00:00, dtype: float64

In [ ]:
# Selecting on a multi-axis by label
df.loc[:, ['A', 'B']]

                   A         B
2013-01-01  1.143368 -0.149450
2013-01-02 -1.774819  0.608021
2013-01-03  0.197218 -1.707205
2013-01-04 -0.435973 -0.290851
2013-01-05 -1.910862 -0.502720
2013-01-06  1.105178  1.185733
2013-01-07 -0.040247 -1.953890
2013-01-08 -0.460840 -1.280431
2013-01-09  0.215700 -0.070776
2013-01-10 -0.959922 -0.523845
2013-01-11  0.159033  0.386273
2013-01-12 -0.602426  0.401777
2013-01-13  0.400207 -1.333080
2013-01-14  0.168998 -0.255566
2013-01-15 -1.133998  0.280282
2013-01-16 -0.433646  1.343808
2013-01-17  0.851774  1.990608
2013-01-18  0.710036 -0.314493
2013-01-19 -0.408446  0.647622
2013-01-20 -0.340104  1.689557

In [ ]:
# Showing label slicing, both endpoints are included:
df.loc['20130102':'20130104', ['A', 'B']]

                   A         B
2013-01-02 -1.774819  0.608021
2013-01-03  0.197218 -1.707205
2013-01-04 -0.435973 -0.290851

In [ ]:
df.loc[dates[0], 'A']

1.1433680600464091

In [ ]:
# Boolean indexing
df[df.A > 0]

                   A         B         C         D         E
2013-01-01  1.143368 -0.149450 -0.694086 -0.582298 -1.042172
2013-01-03  0.197218 -1.707205 -0.845430 -0.129203 -0.662142
2013-01-06  1.105178  1.185733  1.957193  0.856173 -0.378030
2013-01-09  0.215700 -0.070776  0.163469  0.683077  1.936312
2013-01-11  0.159033  0.386273 -0.802908  1.974016 -1.041123
2013-01-13  0.400207 -1.333080  0.426852  2.007772 -0.152506
2013-01-14  0.168998 -0.255566 -1.163769  0.791126 -0.452507
2013-01-17  0.851774  1.990608 -1.421063  0.382311  0.794882
2013-01-18  0.710036 -0.314493  0.693583  1.380000 -0.316321

In [ ]:
df[df > 0]

                   A         B         C         D         E
2013-01-01  1.143368       NaN       NaN       NaN       NaN
2013-01-02       NaN  0.608021  0.783685       NaN       NaN
2013-01-03  0.197218       NaN       NaN       NaN       NaN
2013-01-04       NaN       NaN  0.797946  0.545913  0.285288
2013-01-05       NaN       NaN  0.391442       NaN  1.491326
2013-01-06  1.105178  1.185733  1.957193  0.856173       NaN
2013-01-07       NaN       NaN       NaN  1.711619       NaN
2013-01-08       NaN       NaN  1.307021  0.516793  0.167628
2013-01-09  0.215700       NaN  0.163469  0.683077  1.936312
2013-01-10       NaN       NaN  1.721569       NaN       NaN
2013-01-11  0.159033  0.386273       NaN  1.974016       NaN
2013-01-12       NaN  0.401777       NaN       NaN  0.654747
2013-01-13  0.400207       NaN  0.426852  2.007772       NaN
2013-01-14  0.168998       NaN       NaN  0.791126       NaN
2013-01-15       NaN  0.280282       NaN  1.014833       NaN
2013-01-16       NaN  1.343808  0.027460  0.857122  1.554646
2013-01-17  0.851774  1.990608       NaN  0.382311  0.794882
2013-01-18  0.710036       NaN  0.693583  1.380000       NaN
2013-01-19       NaN  0.647622  0.661598       NaN       NaN
2013-01-20       NaN  1.689557  0.599761  0.278225       NaN

In [ ]:
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three','one', 'one', 'two','three','four','three','one', 'one', 'two', 'three', 'four', 'three','four', 'three']
df2

                   A         B         C         D      E
2013-01-01  1.143368 -0.149450 -0.694086 -0.582298    one
2013-01-02 -1.774819  0.608021  0.783685 -0.682857    one
2013-01-03  0.197218 -1.707205 -0.845430 -0.129203    two
2013-01-04 -0.435973 -0.290851  0.797946  0.545913  three
2013-01-05 -1.910862 -0.502720  0.391442 -0.879570   four
2013-01-06  1.105178  1.185733  1.957193  0.856173  three
2013-01-07 -0.040247 -1.953890 -0.418309  1.711619    one
2013-01-08 -0.460840 -1.280431  1.307021  0.516793    one
2013-01-09  0.215700 -0.070776  0.163469  0.683077    two
2013-01-10 -0.959922 -0.523845  1.721569 -1.451245  three
2013-01-11  0.159033  0.386273 -0.802908  1.974016   four
2013-01-12 -0.602426  0.401777 -0.864507 -0.092112  three
2013-01-13  0.400207 -1.333080  0.426852  2.007772    one
2013-01-14  0.168998 -0.255566 -1.163769  0.791126    one
2013-01-15 -1.133998  0.280282 -0.211960  1.014833    two
2013-01-16 -0.433646  1.343808  0.027460  0.857122  three
2013-01-17  0.851774  1.990608 -1.421063  0.382311   four
2013-01-18  0.710036 -0.314493  0.693583  1.380000  three
2013-01-19 -0.408446  0.647622  0.661598 -0.425416   four
2013-01-20 -0.340104  1.689557  0.599761  0.278225  three

In [ ]:
# search based on value
df2[df2['E'].isin(['two', 'four'])]

                   A         B         C         D     E
2013-01-03  0.197218 -1.707205 -0.845430 -0.129203   two
2013-01-05 -1.910862 -0.502720  0.391442 -0.879570  four
2013-01-09  0.215700 -0.070776  0.163469  0.683077   two
2013-01-11  0.159033  0.386273 -0.802908  1.974016  four
2013-01-15 -1.133998  0.280282 -0.211960  1.014833   two
2013-01-17  0.851774  1.990608 -1.421063  0.382311  four
2013-01-19 -0.408446  0.647622  0.661598 -0.425416  four

In [ ]:
df.at[dates[0], 'A'] = 0
df

                   A         B         C         D         E
2013-01-01  0.000000 -0.149450 -0.694086 -0.582298 -1.042172
2013-01-02 -1.774819  0.608021  0.783685 -0.682857 -0.345994
2013-01-03  0.197218 -1.707205 -0.845430 -0.129203 -0.662142
2013-01-04 -0.435973 -0.290851  0.797946  0.545913  0.285288
2013-01-05 -1.910862 -0.502720  0.391442 -0.879570  1.491326
2013-01-06  1.105178  1.185733  1.957193  0.856173 -0.378030
2013-01-07 -0.040247 -1.953890 -0.418309  1.711619 -1.676624
2013-01-08 -0.460840 -1.280431  1.307021  0.516793  0.167628
2013-01-09  0.215700 -0.070776  0.163469  0.683077  1.936312
2013-01-10 -0.959922 -0.523845  1.721569 -1.451245 -2.473327
2013-01-11  0.159033  0.386273 -0.802908  1.974016 -1.041123
2013-01-12 -0.602426  0.401777 -0.864507 -0.092112  0.654747
2013-01-13  0.400207 -1.333080  0.426852  2.007772 -0.152506
2013-01-14  0.168998 -0.255566 -1.163769  0.791126 -0.452507
2013-01-15 -1.133998  0.280282 -0.211960  1.014833 -0.472194
2013-01-16 -0.433646  1.343808  0.027460  0.857122  1.554646
2013-01-17  0.851774  1.990608 -1.421063  0.382311  0.794882
2013-01-18  0.710036 -0.314493  0.693583  1.380000 -0.316321
2013-01-19 -0.408446  0.647622  0.661598 -0.425416 -2.373906
2013-01-20 -0.340104  1.689557  0.599761  0.278225 -0.964426

In [ ]:
df.iat[0, 2] = 0
df

                   A         B         C         D         E
2013-01-01  0.000000 -0.149450  0.000000 -0.582298 -1.042172
2013-01-02 -1.774819  0.608021  0.783685 -0.682857 -0.345994
2013-01-03  0.197218 -1.707205 -0.845430 -0.129203 -0.662142
2013-01-04 -0.435973 -0.290851  0.797946  0.545913  0.285288
2013-01-05 -1.910862 -0.502720  0.391442 -0.879570  1.491326
2013-01-06  1.105178  1.185733  1.957193  0.856173 -0.378030
2013-01-07 -0.040247 -1.953890 -0.418309  1.711619 -1.676624
2013-01-08 -0.460840 -1.280431  1.307021  0.516793  0.167628
2013-01-09  0.215700 -0.070776  0.163469  0.683077  1.936312
2013-01-10 -0.959922 -0.523845  1.721569 -1.451245 -2.473327
2013-01-11  0.159033  0.386273 -0.802908  1.974016 -1.041123
2013-01-12 -0.602426  0.401777 -0.864507 -0.092112  0.654747
2013-01-13  0.400207 -1.333080  0.426852  2.007772 -0.152506
2013-01-14  0.168998 -0.255566 -1.163769  0.791126 -0.452507
2013-01-15 -1.133998  0.280282 -0.211960  1.014833 -0.472194
2013-01-16 -0.433646  1.343808  0.027460  0.857122  1.554646
2013-01-17  0.851774  1.990608 -1.421063  0.382311  0.794882
2013-01-18  0.710036 -0.314493  0.693583  1.380000 -0.316321
2013-01-19 -0.408446  0.647622  0.661598 -0.425416 -2.373906
2013-01-20 -0.340104  1.689557  0.599761  0.278225 -0.964426

In [ ]:
df2 = df.copy()
df2

                   A         B         C         D         E
2013-01-01  0.000000 -0.149450  0.000000 -0.582298 -1.042172
2013-01-02 -1.774819  0.608021  0.783685 -0.682857 -0.345994
2013-01-03  0.197218 -1.707205 -0.845430 -0.129203 -0.662142
2013-01-04 -0.435973 -0.290851  0.797946  0.545913  0.285288
2013-01-05 -1.910862 -0.502720  0.391442 -0.879570  1.491326
2013-01-06  1.105178  1.185733  1.957193  0.856173 -0.378030
2013-01-07 -0.040247 -1.953890 -0.418309  1.711619 -1.676624
2013-01-08 -0.460840 -1.280431  1.307021  0.516793  0.167628
2013-01-09  0.215700 -0.070776  0.163469  0.683077  1.936312
2013-01-10 -0.959922 -0.523845  1.721569 -1.451245 -2.473327
2013-01-11  0.159033  0.386273 -0.802908  1.974016 -1.041123
2013-01-12 -0.602426  0.401777 -0.864507 -0.092112  0.654747
2013-01-13  0.400207 -1.333080  0.426852  2.007772 -0.152506
2013-01-14  0.168998 -0.255566 -1.163769  0.791126 -0.452507
2013-01-15 -1.133998  0.280282 -0.211960  1.014833 -0.472194
2013-01-16 -0.433646  1.343808  0.027460  0.857122  1.554646
2013-01-17  0.851774  1.990608 -1.421063  0.382311  0.794882
2013-01-18  0.710036 -0.314493  0.693583  1.380000 -0.316321
2013-01-19 -0.408446  0.647622  0.661598 -0.425416 -2.373906
2013-01-20 -0.340104  1.689557  0.599761  0.278225 -0.964426

In [ ]:
df2[df2 > 0] = [10]
df2

                    A          B          C          D          E
2013-01-01   0.000000  -0.149450   0.000000  -0.582298  -1.042172
2013-01-02  -1.774819  10.000000  10.000000  -0.682857  -0.345994
2013-01-03  10.000000  -1.707205  -0.845430  -0.129203  -0.662142
2013-01-04  -0.435973  -0.290851  10.000000  10.000000  10.000000
2013-01-05  -1.910862  -0.502720  10.000000  -0.879570  10.000000
2013-01-06  10.000000  10.000000  10.000000  10.000000  -0.378030
2013-01-07  -0.040247  -1.953890  -0.418309  10.000000  -1.676624
2013-01-08  -0.460840  -1.280431  10.000000  10.000000  10.000000
2013-01-09  10.000000  -0.070776  10.000000  10.000000  10.000000
2013-01-10  -0.959922  -0.523845  10.000000  -1.451245  -2.473327
2013-01-11  10.000000  10.000000  -0.802908  10.000000  -1.041123
2013-01-12  -0.602426  10.000000  -0.864507  -0.092112  10.000000
2013-01-13  10.000000  -1.333080  10.000000  10.000000  -0.152506
2013-01-14  10.000000  -0.255566  -1.163769  10.000000  -0.452507
2013-01-15  -1.133998  10.000000  -0.211960  10.000000  -0.472194
2013-01-16  -0.433646  10.000000  10.000000  10.000000  10.000000
2013-01-17  10.000000  10.000000  -1.421063  10.000000  10.000000
2013-01-18  10.000000  -0.314493  10.000000  10.000000  -0.316321
2013-01-19  -0.408446  10.000000  10.000000  -0.425416  -2.373906
2013-01-20  -0.340104  10.000000  10.000000  10.000000  -0.964426

In [ ]:
df.mean()

A   -0.234657
B    0.007569
C    0.190182
D    0.437814
E   -0.273322
dtype: float64

In [ ]:
df.mean(1)

2013-01-01   -0.354784
2013-01-02   -0.282393
2013-01-03   -0.629352
2013-01-04    0.180465
2013-01-05   -0.282077
2013-01-06    0.945249
2013-01-07   -0.475490
2013-01-08    0.050034
2013-01-09    0.585557
2013-01-10   -0.737354
2013-01-11    0.135058
2013-01-12   -0.100504
2013-01-13    0.269849
2013-01-14   -0.182344
2013-01-15   -0.104607
2013-01-16    0.669878
2013-01-17    0.519702
2013-01-18    0.430561
2013-01-19   -0.379709
2013-01-20    0.252603
Freq: D, dtype: float64

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates[0:6])
s

2013-01-01    1.0
2013-01-02    3.0
2013-01-03    5.0
2013-01-04    NaN
2013-01-05    6.0
2013-01-06    8.0
Freq: D, dtype: float64

In [ ]:
df.sub(s, axis='index')

                   A         B         C         D         E
2013-01-01 -1.000000 -1.149450 -1.000000 -1.582298 -2.042172
2013-01-02 -4.774819 -2.391979 -2.216315 -3.682857 -3.345994
2013-01-03 -4.802782 -6.707205 -5.845430 -5.129203 -5.662142
2013-01-04       NaN       NaN       NaN       NaN       NaN
2013-01-05 -7.910862 -6.502720 -5.608558 -6.879570 -4.508674
2013-01-06 -6.894822 -6.814267 -6.042807 -7.143827 -8.378030
2013-01-07       NaN       NaN       NaN       NaN       NaN
2013-01-08       NaN       NaN       NaN       NaN       NaN
2013-01-09       NaN       NaN       NaN       NaN       NaN
2013-01-10       NaN       NaN       NaN       NaN       NaN
2013-01-11       NaN       NaN       NaN       NaN       NaN
2013-01-12       NaN       NaN       NaN       NaN       NaN
2013-01-13       NaN       NaN       NaN       NaN       NaN
2013-01-14       NaN       NaN       NaN       NaN       NaN
2013-01-15       NaN       NaN       NaN       NaN       NaN
2013-01-16       NaN       NaN       NaN       NaN       NaN
2013-01-17       NaN       NaN       NaN       NaN       NaN
2013-01-18       NaN       NaN       NaN       NaN       NaN
2013-01-19       NaN       NaN       NaN       NaN       NaN
2013-01-20       NaN       NaN       NaN       NaN       NaN

In [ ]:
s = pd.Series([2, np.nan, 5, -1, 0])
s

0    2.0
1    NaN
2    5.0
3   -1.0
4    0.0
dtype: float64

In [ ]:
s.cumsum()

0    2.0
1    NaN
2    7.0
3    6.0
4    6.0
dtype: float64

In [ ]:
# Histogramming
s = pd.Series(np.random.randint(0, 7, size=10))
s

0    5
1    5
2    2
3    0
4    0
5    0
6    2
7    3
8    4
9    1
dtype: int32

In [ ]:
# Histogramming
s.value_counts()

0    3
5    2
2    2
3    1
4    1
1    1
dtype: int64

In [ ]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s

0       A
1       B
2       C
3    Aaba
4    Baca
5     NaN
6    CABA
7     dog
8     cat
dtype: object

In [ ]:
# convert to lower case
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [ ]:
# Concat
df = pd.DataFrame(np.random.randn(10, 4))
df_1 =df[0:3]
df_2=df[3:7]
df_3=df[7:10]

In [ ]:
df

          0         1         2         3
0  0.444335 -0.526806 -0.497081  0.474311
1  0.815097 -0.782388 -0.793476  0.679357
2 -0.399311  0.857730 -0.328902  0.114412
3  0.956503  0.591600 -0.850870 -1.371479
4 -0.285121  1.241768  0.821377 -0.677923
5  1.387910 -1.808479 -0.256353  0.031771
6 -1.179897 -0.239249  0.725132  0.164215
7  0.498065  0.598180  0.127804  0.614933
8  1.408737  0.486309 -1.337618  0.621717
9 -0.140540 -0.378271 -0.765831  1.028818

In [ ]:
df_1

          0         1         2         3
0  0.444335 -0.526806 -0.497081  0.474311
1  0.815097 -0.782388 -0.793476  0.679357
2 -0.399311  0.857730 -0.328902  0.114412

In [ ]:
df_2

          0         1         2         3
3  0.956503  0.591600 -0.850870 -1.371479
4 -0.285121  1.241768  0.821377 -0.677923
5  1.387910 -1.808479 -0.256353  0.031771
6 -1.179897 -0.239249  0.725132  0.164215

In [ ]:
df_3

          0         1         2         3
7  0.498065  0.598180  0.127804  0.614933
8  1.408737  0.486309 -1.337618  0.621717
9 -0.140540 -0.378271 -0.765831  1.028818

In [ ]:
pieces = [df_1,df_2,df_3]
pd.concat(pieces)

          0         1         2         3
0  0.444335 -0.526806 -0.497081  0.474311
1  0.815097 -0.782388 -0.793476  0.679357
2 -0.399311  0.857730 -0.328902  0.114412
3  0.956503  0.591600 -0.850870 -1.371479
4 -0.285121  1.241768  0.821377 -0.677923
5  1.387910 -1.808479 -0.256353  0.031771
6 -1.179897 -0.239249  0.725132  0.164215
7  0.498065  0.598180  0.127804  0.614933
8  1.408737  0.486309 -1.337618  0.621717
9 -0.140540 -0.378271 -0.765831  1.028818

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
left

   key  lval
0  foo     1
1  bar     2

In [ ]:
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})
right

   key  rval
0  foo     4
1  bar     5

In [ ]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  bar     2     5

In [ ]:
# Append
df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])

In [ ]:
df

          A         B         C         D
0  0.475051  0.088114  0.806521 -0.154282
1 -1.551934 -0.742271 -1.119753  1.206087
2  0.799542 -0.950741  2.252459 -0.681680
3  0.122911 -0.741164 -0.352264 -0.667491
4  0.784509  1.787705  0.770219  2.341726
5  0.162734 -0.299494  1.562023 -0.959887
6 -0.704523  0.394075  0.062851  0.378231
7 -1.265714  0.090229  0.695141  0.831772

In [ ]:
s = df.iloc[3]
s

A    0.122911
B   -0.741164
C   -0.352264
D   -0.667491
Name: 3, dtype: float64

In [ ]:
df.append(s, ignore_index=True)

          A         B         C         D
0  0.475051  0.088114  0.806521 -0.154282
1 -1.551934 -0.742271 -1.119753  1.206087
2  0.799542 -0.950741  2.252459 -0.681680
3  0.122911 -0.741164 -0.352264 -0.667491
4  0.784509  1.787705  0.770219  2.341726
5  0.162734 -0.299494  1.562023 -0.959887
6 -0.704523  0.394075  0.062851  0.378231
7 -1.265714  0.090229  0.695141  0.831772
8  0.122911 -0.741164 -0.352264 -0.667491