<a href="https://colab.research.google.com/github/TBKHori/A.I_ARU/blob/main/py_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

In [ ]:
print('Hello world')

Hello world

In [ ]:
import numpy as np
data = {i : np.random.randn() for i in range(7)}
data

{0: -0.20470765948471295,
 1: 0.47894333805754824,
 2: -0.5194387150567381,
 3: -0.55573030434749,
 4: 1.9657805725027142,
 5: 1.3934058329729904,
 6: 0.09290787674371767}

In [ ]:
def rocket_parts():
    print("payload, propellant, structure")

In [ ]:
>>> rocket_parts()
'payload, propellant, structure'

In [ ]:
output = rocket_parts()
payload, propellant, structure
>>> output is None
True

In [ ]:
>>> def rocket_parts():
...     return "payload, propellant, structure"
...
>>> output = rocket_parts()
>>> output
'payload, propellant, structure'

'payload, propellant, structure'

In [ ]:
def rocket_parts():
        return "payload, propellant, structure"

In [ ]:
output = rocket_parts()
output
'payload, propellant, structure'

'payload, propellant, structure'

In [ ]:
 any([True, False, False])

True

In [ ]:
any([False, False, False])

False

In [ ]:
an_apple = 27

In [ ]:
an_example = 42

In [ ]:
 b = [1, 2, 3]
 b

[1, 2, 3]

In [ ]:
 import datetime

In [ ]:
b?

Type:        list
String form: [1, 2, 3]
Length:      3
Docstring:
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [ ]:
def add_numbers(a, b):
    """
    Add two numbers together

    Returns
    -------
    the_sum : type of arguments
    """
    return a + b

In [ ]:
 add_numbers?

Signature: add_numbers(a, b)
Docstring:
Add two numbers together

Returns
-------
the_sum : type of arguments
File:      c:\users\lenovo\appdata\local\temp\ipykernel_24412\1411870314.py
Type:      function

In [ ]:
str()

''

In [ ]:
str(15)

'15'

In [ ]:
def distance_from_earth(destination):
    if destination == "Moon":
        return "238,855"
    else:
        return "Unable to compute to that destination"

In [ ]:
>>> distance_from_earth()

NameError: name 'distance_from_earth' is not defined

In [ ]:
>>> distance_from_earth("Moon")

'238,855'

In [ ]:
>>> distance_from_earth("Saturn")
'Unable to compute to that destination'

'Unable to compute to that destination'

In [ ]:
def days_to_complete(distance, speed):
    hours = distance/speed
    return hours/24

In [ ]:
>>> days_to_complete(238855, 75)

132.69722222222222

In [ ]:
>>> total_days = days_to_complete(238855, 75)
>>> round(total_days)
133

133

In [ ]:
>>> def generate_report(main_tank, external_tank, hydrogen_tank):
    output = f"""Fuel Report:
    Main tank: {main_tank}
    External tank: {external_tank}
    Hydrogen tank: {hydrogen_tank} 
    """
    print(output)

In [ ]:
generate_report(80, 70, 75)

Fuel Report:
    Main tank: 80
    External tank: 70
    Hydrogen tank: 75

In [ ]:
from datetime import timedelta, datetime

def arrival_time(hours=51):
    now = datetime.now()
    arrival = now + timedelta(hours=hours)
    return arrival.strftime("Arrival: %A %H:%M")

In [ ]:
>>> arrival_time()

'Arrival: Friday 02:49'

In [ ]:
>>> arrival_time(hours=0)

'Arrival: Tuesday 23:49'

In [ ]:
from datetime import timedelta, datetime

def arrival_time(destination, hours=51):
    now = datetime.now()
    arrival = now + timedelta(hours=hours)
    return arrival.strftime(f"{destination} Arrival: %A %H:%M")

In [ ]:
>>> arrival_time()
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: arrival_time() missing 1 required positional argument: 'destination'

SyntaxError: invalid syntax (Temp/ipykernel_7256/3062737992.py, line 2)

In [ ]:
>>> arrival_time("Moon")

'Moon Arrival: Saturday 02:51'

In [ ]:
>>> arrival_time("Orbit", hours=0.13)

'Orbit Arrival: Wednesday 23:59'

In [ ]:
def variable_length(*args):
    print(args)

In [ ]:
>>> variable_length()
()
>>> variable_length("one", "two")
('one', 'two')
>>> variable_length(None)
(None,)

()
('one', 'two')
(None,)

(None,)

In [ ]:
>>> #(a) - Function calling/ writing style for coprate ind

In [ ]:
def sequence_time(*args):
    total_minutes = sum(args)
    if total_minutes < 60:
        return f"Total time to launch is {total_minutes} minutes"
    else:
        return f"Total time to launch is {total_minutes/60} hours"

In [ ]:
>>> sequence_time(4, 14, 18)
'Total time to launch is 36 minutes' 
>>> sequence_time(4, 14, 48)
'Total time to launch is 1.1 hours'

'Total time to launch is 1.1 hours'

In [ ]:
def variable_length(**kwargs):
    print(kwargs)

In [ ]:
>>> variable_length(tanks=1, day="Wednesday", pilots=3)
{'tanks': 1, 'day': 'Wednesday', 'pilots': 3}

{'tanks': 1, 'day': 'Wednesday', 'pilots': 3}

{'tanks': 1, 'day': 'Wednesday', 'pilots': 3}

In [ ]:
def crew_members(**kwargs):
    print(f"{len(kwargs)} astronauts assigned for this mission:")
    for title, name in kwargs.items():
        print(f"{title}: {name}")

In [ ]:
>>> crew_members(captain="Neil Armstrong", pilot="Buzz Aldrin", command_pilot="Michael Collins")
3 astronauts assigned for this mission:
captain: Neil Armstrong
pilot: Buzz Aldrin
command_pilot: Michael Collins

SyntaxError: invalid syntax (Temp/ipykernel_7256/1172427527.py, line 2)

In [ ]:
>>> crew_members(captain="Neil Armstrong", pilot="Buzz Aldrin", pilot="Michael Collins")
  File "<stdin>", line 1
SyntaxError: keyword argument repeated: pilot

IndentationError: unexpected indent (Temp/ipykernel_7256/974400954.py, line 2)